.custom_1 {
    background-color: rgba(255, 214, 165, 1);
}

.custom_2 {
    background-color: rgba(155, 246, 255, 1);
}

.custom_3 {
    background-color: rgba(202, 255, 191, 1);
}

.custom_4 {
    background-color: rgba(253, 255, 182, 1);
}
